body {
    margin: 0 auto;
}

#vuln-send-button {
    display: inline-block;
    width: 94%;
}
.button {
    display: block;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #02647C;
    margin: 8px;
    border: none;
}

.field-name {
  color: #89e5a2;
  font-family: monospace;
}

#vuln-content h3 {
  color: #d3e6ea;
  text-align: center;
}

.vul-send:hover .button:hover {
    background-color: #3e8e41
}

.vul-send:active .button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    width: 99%;
    height: 100%;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 1100;
}

.target-js{
    visibility: visible;
    opacity: 1;
    z-index: 1100;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .modal-body {
    max-height: 30%;
    overflow: auto;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.attack-list {
    display: none;
    color: white;
    font-size: 10px;
    margin: 5px 0px 5px 0px;
    padding-left: 20px;
}

#nav-bar {
    font-family: sans-serif !important;
    font-size: 14px;
    background-color: #333;
    margin: 0px 0px 0px 0px;
    border: solid;
    border-color: black;
    color: white;
    position: fixed;
    height: 100%;
    width: 99%;
}

.vuln-original-content {
    width: 84.5%;
    float: right;
}

.vuln-attack-item {
    color: white;
    margin-top: 10px;
    cursor: pointer;
    clear: left;
}

.li-f .vuln-label-ch {
    display: block;
    cursor: pointer;
    text-indent: 15px;
}

.li-f:hover {
    background: #f1f1f1;
    color: black
}

.vuln-ch {
    cursor: pointer;
}

#see-hidden {
    cursor: pointer;
}

.active-input {
    background-color: yellow !important;
}

.active-field {
    background: #004c14;
    color: black
}

.all-fields {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 100px;
    padding-left: 3%;
    width: 96%;
}

.domain {
    float: left;
    font-family: monospace;
}

.truncate {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-line {
    margin: 5px 0px 5px -25px;
    padding: 0px 0px 0px 0px;
}

.active {
    background-color: #02647C;
    color: white;
}

.whimsy {
    width: 48px;
    height: 48px;
}

#vuln-footer {
    position: absolute;
    bottom: 8px;
    width: 100%;
    border-top: solid 1px white;
    text-align: center;
}

#vuln-lateral-move{
  padding: 10px 10px;
  margin-right: 20px;
}

#vuln-settings-div {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    width: 100%;
    text-align: center;

}

#vuln-content {
    position: absolute;
    background: #15272b;
    top:122px;
    bottom: 62px;
    width:100%;
    margin: 8px auto;
}

#vuln-logo {
    margin: 8px;
    width: 100px;
    height: 100px;
}

#vuln-header {
    position: absolute;
    /*text-align: center;*/
    background: #d3e6ea;
    width:100%;
    height:130px;
}

#vuln-logo-div{
    display: inline-block;
    width: 80%;
    height: 100%;
    text-align: center;
}

#vuln-window-bar{
    display: inline-block;
    width: 10%;
    height: 100%;
}

#vuln-get-parameters-div {
    border-bottom: solid 1px white;
    padding-bottom: 10%;


}
